body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.jumbotron-image {
  background-image: url(https://images.unsplash.com/photo-1569414753782-7b8cef3ad2e8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron {
  color: rgb(4, 126, 148);
  font-weight: bolder;
  margin: 0;
  font-family: 'Electrolize', sans-serif;
}

.navbar-container {
  background-color: rgb(8, 153, 179);
  padding: 0;
  margin: 0;
  border-top: 1.5px solid black;
}

#leader {
  font-size: 2.5rem;
  font-weight: bold;
  
}

.nav-tabs {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.nav-link {
  color: black;
}

@media only screen and (max-width: 420px) {
  .home-container .navbar-container .jumbotron-container {
    width: 350px;
    font-size: 0.8rem;
  }
  li {
    font-size: 1rem;
  }
  #leader {
    font-size: 0.5rem;
  }
  .display-4 {
    font-size: 2rem;
  }
}
