body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.jumbotron-image {
  background-image: url(https://images.unsplash.com/photo-1569414753782-7b8cef3ad2e8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron {
  color: rgb(130, 5, 141);
  font-weight: bolder;
  margin: 0;
}

.navbar-container {
  background-color: rgb(130, 5, 141);
}

.nav-tabs {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
}

.nav-link {
  color: rgb(197, 197, 5);
}
